<!DOCTYPE html>
<html lang="pt-br" class="overflow-x-hidden max-h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/lib/vanilla.js"></script>
    <script src="/lib/tailwind.js"></script>
    <script defer src="/lib/flowbite.js"></script>
    <script defer src="/lib/3deffect.js"></script>
    <script defer src="/js/back.js"></script>
    <script defer src="/js/3deffect.js"></script>
    <title>iRango | Promoção</title>
</head>

<body class="font-sans bg-gradient-to-tr from-gray-900 via-gray-950 to-black h-screen overflow-hidden">
    <%- include('../partials/header.ejs') %>
    <canvas id="stars" class="absolute top-0 -z-10"></canvas>
    <main class="w-screen h-screen flex items-center justify-center">
        <div class="bg-gradient-to-tl from-gray-600 to-gray-800 p-6 rounded-lg shadow-lg w-full m-10 max-w-[35vw] flex gap-5 flex-col items-center max-h-[80vh] border border-white">
            <h1 class="text-3xl font-semibold text-center text-white mb-6">Promoção</h1>
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 "
                    placeholder="Batata Frita, Coca Cola, Pepsi . . ." required />
            </div>

            <div class="w-full flex flex-col gap-5 overflow-y-auto">

                <% produtos.forEach(produto => { %>
            <a href="#"
                class="d3d relative w-full flex flex-col items-center bg-gray-700 border border-gray-50 rounded-lg shadow-sm md:flex-row md:max-w-xl transition-all duration-200 hover:bg-gray-900">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                    src="data:image/png;base64,<%= produto.imagem %>" alt="">
                <div class="flex gap-1 absolute bottom-3 right-3">
                          <button onclick="window.location.href = '/produto/promocao/add/<%= produto.id %>'"
                    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                            <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                          </svg></button>
                </div>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="text-2xl text-white font-extrabold"><%= produto.nome %><small
                            class="ms-2 font-semibold text-gray-400 <%= produto.inPromo ? "line-through" : "" %>
                            ">R$ <%= produto.preco %></small>  <%- produto.inPromo ? '<small class="ms-2 font-semibold text-gray-400">R$ ' + (produto.preco - ((produto.promo / 100) * produto.preco)).toFixed(2) + ' (' + produto.promo + '% OFF)</small>' : '' %>
                        </h5>
                    <p class="mb-3 font-normal text-gray-300"><%= produto.ingredientes %></p>
                </div>
            </a>

            <% }) %>

        </div>
    </div>
    </main>
</body>

</html>